    	body{
            background: #F0FFF0;           
    		
    	}
        nav a:hover{
            color: #C78C19;
            text-decoration: underline;
        }

        #banner {
            width: 100%;
        }
        .principal{
            background: #556B2F;
            padding: 20px;
        }

    	.titulo-centralizado{
    		text-align: center;
            font-size: 25px;
    	}
        .titulo-principal{
            padding-left: 20px;
        }

    	p{
    		text-align: center; 
    	}

    	#missao{
    		font-size: 20px;
    	}

    	em strong {
    		color: #8B0000;
    	}      
        .itens{
            font-style: italic;
            font-size: 18px;          

        }
        .beneficios{
            background: #8B0000;
        }
       
        ul{
            display: inline-block;
            vertical-align: top;
            width: 25%;
            margin-right: 15%;
        }
        .imagembeneficios{
            width: 50%;
        }
        nav a{
            text-transform: uppercase;
            color: #000000;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
        }


    